name: Schematics CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install TypeScript globally
        run: npm install -g typescript
      - name: Install Angular CLI globally
        run: npm install -g @angular/cli
      - name: Install Schematics CLI globally
        run: npm install -g @angular-devkit/schematics-cli
      - name: npm install, build, test for v12 angular app
        run: |
          npm ci
          npm run build --if-present
          cd sandbox-v12
          npm install chromedriver@latest --save-dev
          cd  ./node_modules/chromedriver
          npm run install
          cd ../../../
          npm run build:clean:launch:v12
      # - uses: actions/checkout@v2
      #   with:
      #     repository: stemmlerjs/simple-typescript-starter
      # - name: npm install, build, test for v12 typescript app
      #   run : |
      #     npm install
      #     npm install @nightwatch/schematics
      #     schematics @nightwatch/schematics:ng-add --remove-protractor --environment=firefox --no-cucumber-runner
      #     jq '.scripts."e2e:test" = "./node_modules/.bin/tsc -p ./nightwatch/tsconfig.e2e.json && ./node_modules/.bin/nightwatch --env firefox --config ./nightwatch.conf.js --headless"' package.json  > "/tmp/temp.json" && mv "/tmp/temp.json" package.json
      #     npm run e2e:test
        env:
          CI: true
