name: Schematics CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install TypeScript globally
        run: npm install -g typescript
      - name: Install Angular CLI globally
        run: npm install -g @angular/cli
      - name: Install Schematics CLI globally
        run: npm install -g @angular-devkit/schematics-cli
      - name: run unit tests
        run: |
          npm ci
          npm run build 
          npm run test:unit  
      - name: npm install, build, test for v12 angular app
        run: |
          npm ci
          npm run build --if-present
          npm cache clean --force
          npm run build:clean:launch:v12
          cd sandbox-v12/node_modules/chromedriver && node install.js
          cd ../../../
          npm run test:v12
      - name: npm install, build, test for v14 angular app
        run: |
          npm ci
          npm run build --if-present
          npm cache clean --force
          npm run build:clean:launch:v14
          cd sandbox-v14/node_modules/chromedriver && node install.js
          cd ../../../
          npm run test:v14
        env:
          CI: true
